/* DetailsModal.css */
.details-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8acac90; /* Fully opaque */
}

.details-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(161, 115, 115, 0.1);
  gap: 5px;
}

.details-modal-content button {
  margin: 5px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details-modal-content button:hover {
  background-color: #0056b3;
}
