/* PendingServicesComponent.css */

.pending-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202d3d;
  color: #fff;
  min-height: 100vh;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.service-card {
  background-color: hsl(0, 0%, 100%);
  color: #333;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s; /* Smooth transform effect on hover */
}

.service-card:hover {
  transform: scale(1.06); /* Slightly enlarge items on hover */
}

.service-card button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.service-card button:hover {
  opacity: 0.8;
}
