.create-service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #202d3d;
    /* Use your desired bluish dark color here */
    color: #fff;
}

.create-service-container h2 {
    margin-bottom: 20px;
}

.create-service-container form {
    width: 300px;
}

.create-service-container label {
    display: block;
    margin-bottom: 10px;
}

.create-service-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.create-service-container button {
    background-color: #fff;
    color: #333;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}