/* PendingServicesComponent.css */

.pending-services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #202d3d;
    /* Use your desired bluish dark color here */
    color: #fff;
}

.pending-services-container h2 {
    margin-bottom: 20px;
}

.pending-services-container table {
    width: 100%;
    border-collapse: collapse;
}

.pending-services-container th,
.pending-services-container td {
    padding: 10px;
    text-align: center;
}

.pending-services-container th {
    background-color: #333;
    color: #fff;
}

.pending-services-container tr:nth-child(even) {
    background-color: #4a5568;
}

.pending-services-container tr:hover {
    background-color: #718096;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover {
    color: #000;
}